@define-color bg-color  #1e1e2e;
@define-color red-1     #ff7a93;
@define-color red-2     #f7768e;
@define-color red-3     #f53c3c;
@define-color yellow    #ff9e64;
@define-color green     #b9f27c;
@define-color blue      #7da6ff;
@define-color white     #c0caf5;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Jetbrains mono", monospace;
    font-size: 12.25px;
}

/* .icon {
    font-size: 16px;
} */

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidded {
    opacity: 0.0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

button {
    /* Use box-shadow instead of border so the text isn't offset */

    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: unset;
    box-shadow: unset;
    transition: none;
}

#workspaces {
    background-color: @bg-color;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
}


#workspaces button {
    padding: 0 5px;
    color: #565f89;
}

#workspaces button:hover  {
    color: #a6adc8;
    background: none;
    border: none;
}

#workspaces button.active {
    color: @white;
}

#workspaces button.urgent {
    color: #fab387;
}

/* #mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
} */

#memory,
#temperature,
#idle_inhibitor,
#tray,
#mpd,
#pulseaudio,
#backlight,
#battery {
    padding: 0 0.3rem;
}

#cpu, #network {
    padding-right: 0.3rem;
}

#window, #clock {
    padding-left: 0.4rem;
}

.modules-left, .modules-right {
    background-color: @bg-color;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    opacity: 0.85;
}

#workspaces {
    opacity: 0.85;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cpu, #memory,#temperature, #battery {
    color: @red-1;

}

#backlight, #idle_inhibitor, #pulseaudio {
    color: @yellow;
}

#network, #window {
    color: @green;
}

#clock {
    color: @white;
}

#custom-spotify {
    padding-right: 0.4rem;
    color: @blue;
}


/* #battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
} */

@keyframes blink {
    to {
        color: #eba0ac;
    }
}

#battery.critical:not(.charging), #temperature.critical {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* label:focus {
    background-color: #000000;
} */

/* #tray {
    min-width: 64px;
} */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    margin: 0 0.4rem;
}

/* 
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */

/* 
#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
} */
