@define-color bg-color  rgba(26, 27, 38, 0.85); /* #1a1b26 */
@define-color red-1     #f7768e;
@define-color red-2     #db4b4b;
@define-color orange    #ff9e64;
@define-color green     #9ece6a;
@define-color cyan      #7dcfff;
@define-color white     #c0caf5;
@define-color gray      #565f89;
@define-color purple    #9d7cd8;

* {
  font-family: "Jetbrains mono", monospace;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidded {
  opacity: 0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: unset;
  box-shadow: unset;
  transition: none;
}

#workspaces {
  background-color: @bg-color;
  padding: 0 0.6rem;
  border-radius: 4px;
}

#workspaces button {
  padding: 0 0.33rem;
  color: @gray;
}

#workspaces button:hover {
  color: #a9b1d6;
  background: none;
  border: none;
}

#workspaces button.active {
  color: @white;
}

#workspaces button.urgent {
  color: @orange;
}

/* #mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
} */

#memory,
#temperature,
#idle_inhibitor,
#network,
#mpd,
#pulseaudio,
#backlight,
#cpu,
#battery {
  margin: 0 0.3rem;
}

#custom-logo,
#tray {
  margin: 0 0.3rem;
}

#window,
#custom-player,
#custom-powermenu {
  padding-left: 0.3rem;
}

.modules-left,
.modules-right {
  background-color: @bg-color;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}

/*.modules-left > *,
.modules-right > * {
  border: 1px solid yellow;
}*/

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#cpu,
#memory,
#temperature,
#battery {
  color: @red-1;
}

#backlight,
#idle_inhibitor,
#pulseaudio {
  color: @orange;
}

#network,
#window {
  color: @green;
}

#clock {
  margin-left: 0.6rem;
  padding: 0 0.5rem;
  color: @cyan;
}

#custom-logo {
  font-size: 14px;
  color: @purple;
}

#custom-powermenu {
  font-weight: bold;
  color: @red-2;
  font-size: 14px;
  margin-right: 0.1rem;
}

#custom-player {
  color: @green;
}

@keyframes blink {
  to {
    color: @red-2;
  }
}

#battery.critical:not(.charging),
#temperature.critical {
  color: @red-1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* label:focus {
    background-color: #000000;
} */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  margin: 0 0.6rem;
}

/* 
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */
